#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;  
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.form-container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 410px;
}

.form-header {
  background-color: #4285f4;
  color: #ffffff;
  text-align: center;
  padding: 20px;
}

.form-body {
  padding: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.double-form-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
}

input, textarea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 9px;
  margin-top: 6px;
}
input:focus, textarea:focus{
  outline: 2.4px solid #0d6dc1
}
input::placeholder,
textarea::placeholder {
  color: #ffffffc6; /* Cambia el color del marcador de posición */
}

button {
  background-color: #4285f4;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 9px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #3367d6;
}

.container-order {
  display: flex;
  flex-wrap: wrap;
}

.order-card {
  border: 1px solid #ccc;
  margin: 10px;
  padding: 10px;
  width: 300px;
}

.order-info {
  font-family: 'Arial', sans-serif;
  color: #333;
}
.link-login {

  color: #0077cc; 
  transition: color 0.3s ease; 
  border-bottom: 2px solid transparent;
}

.link-login:hover {
  color: #004466;
  border-bottom-color: #004466; 
}

.container-link{
  margin-top: 10px;
}

@media screen and (max-width: 600px) { 
  .double-form-group {
    grid-template-columns: 1fr;
    gap: 0px;
    transition: .5s all ease;
  }
}
